<hr />
<% unless current_user.following?(@user) %>
  <%= link_to t('views.followers.index.follow'), follow_path(@user.id), method: :post %>
<% end %>

<%= render 'shared/counters', user: @user %>

<hr />
<h1>Tweets</h1>
<%= render 'tweets/index', tweets: @tweets %>