<% unless current_user.following?(@user) %>
  <div class='row'>
    <div class='col-3'>
      <%= link_to t('views.followers.index.follow'), follow_path(@user), method: :post, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render 'shared/counters', user: @user %>
<%= render 'tweets/index', tweets: @tweets %>