<div class='row'>
  <div class='col-3'>
    <%= link_to t('views.home.index.tweet'), new_tweet_path, class: 'btn btn-primary' %>
  </div>
</div>

<%= render 'shared/counters', user: current_user %>
<%= render 'tweets/index', tweets: @tweets %>